<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--数据库连接字段-->
    <add name="SqlServer" connectionString="server=.;database=ExcelToSqlserver; uid=sa; pwd=123;"/>
    <!--XML文件路径-->
    <add name="XMLPath" connectionString="~/DBTablePage.xml" />
    <!--EXCEL 数据导入表文件-->
    <add name="UpLoadPath" connectionString="~/upload/EXCEL/" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
